body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

/* Selector de idioma */
.language-selector {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.language-flag {
  width: 40px;
  height: auto;
  cursor: pointer;
  margin-left: 10px;
}

/* Sección de portada */
.cover-section {
  text-align: center;
  padding: 50px;
  background-image: url('assets/images/fondo_web.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

/* Ocultar el reproductor de música */
audio {
  display: none;
}
